@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-VariableFont_wght.ttf');
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: hsl(0, 0%, 95%, 1);
        --secondary-color: hsl(0, 0%, 0%, 1);
        --tertiary-color: hsl(0, 0%, 30%, 1);
        --header-background-color: var(--secondary-color);
        --text-color: var(--secondary-color);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: hsl(0, 0%, 0%, 1);
        --secondary-color: hsl(0, 0%, 40%);
        --tertiary-color: hsl(0, 0%, 75%, 1);
        --header-background-color: hsl(0, 0%, 40%);
        --text-color: hsl(0, 0%, 95%, 1);
    }
}

body {
    font-family: 'Source Code Pro';
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: auto;
    color: var(--text-color);
}

img {
    width: 100px;
    border-radius: 50%;
    margin: 15px;
}

header p {
    padding-left: 5px;
}

h2, h3 {
    padding-left: 5px;
}

h2.fechado::before, h3.fechado::before {
    content: '+';
}

h2.aberto::before, h3.aberto::before {
    content: '-';
}

h4 {
    padding-left: 10px;
}

section p, section ul {
    padding-left: 15px;
}

section div {
    display: none;
}

li {
    list-style-type: none;
}

h2, h3 {
    cursor: pointer;
}

h1 {
    display: flex;
    align-items: center;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

h3 {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--header-background-color);
    color: var(--primary-color);
    font-weight: 800;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer ul a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 800;
}