@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	font-family: 'JetBrains	Mono', monospace;
	--primary-color: hsl(147,63.8%,61%);
	--secondary-color: hsl(210,90.2%,20%);
	background-color: var(--primary-color);
}

header {
	font-size: 3rem;
	color: var(--secondary-color);
}

header h1 {
	text-decoration: underline;
	font-size: 1em;
	font-weight: 1000;
	margin-bottom: 0;
}

header h1 span {
	cursor: pointer;
}

header h2 {
	font-size: 0.3em;
}

.selected {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
